@import '~@angular/material/theming';


@mixin cron-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .cron{
    background-color: map-get($background, background);

    h1 {
      color: map-get($foreground, text);
    }

    .circletext {
      color: map-get($foreground, text);
    }

    .tooltip {
      color: mat-color($accent);
    }

    button:hover {
      color: mat-color($accent);
    }

  }

}
